.hero {
  height: 100vh;
  width: 100%;
  background-image: url(/img/background.png);
  background-size: cover;
  background-position: center;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  color: aliceblue;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: gold;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.4s;
}
nav ul li a:hover {
  color: rgb(255, 226, 59);
  transition: 0.4s;
}
.button {
  background-color: rgb(255, 226, 59);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.4s;
}
.button:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
  font-family:monospace;
}
h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 25px;
}
h4 {
  color: #fcfc;
  font-size: 20px;
  letter-spacing: 2px;
}
.newslatter form {
  width: 300px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid rgb(255, 226, 59);
  border-radius: 30px;
  outline: none;
}
.newslatter form input:last-child {
  color: rgb(29, 26, 26);
  display: inline-block;
  position: absolute;
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: rgb(255, 226, 59);
  box-shadow: 0px 0px 5px #000, 0px 0px 10px white;
  top: -3.5px;
  right: -140px;
  cursor: pointer;
  transition: 0.4s;
}
.newslatter form input:last-child:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}
.about img {
  height: auto;
  width: 430px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.about-text p {
  color: white;
  font-size: 15px;
  text-align: left;
  text-justify: justify;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 45px;
}
.about-text button {
  color: #191919;
  background-color: rgb(255, 226, 59);
  border: 2px solid transparent;
  border-radius: 35px;
  padding: 13px 30px;
  font-weight: bold;
  transition: 0.4s;
  box-shadow: 0px 0px 10px rgb(93, 93, 93);
}
.about-text button:hover {
  color: white;
  background-color: transparent;
  border: 2px solid rgb(255, 226, 59);
  transition: 0.4s;
}
.service {
  background-color: #101010;
  width: 100%;
  padding: 100px 0px;
}
.title h2 {
  color: white;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  width: 1130px;
  margin: 30px auto;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
i {
  color: rgb(255, 226, 59);
  font-size: 45px;
  display: block;
  margin: 25px 0px;
  text-align: center;
}
.card h5 {
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.pra p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 30px;
}
.btn {
  color: #191919;
  background-color: rgb(255, 226, 59);
  border: 2px solid transparent;
  border-radius: 35px;
  padding: 13px 30px;
  font-weight: bold;
  transition: 0.4s;
  text-decoration: none;
  margin-top: -30px;
}
.btn:hover {
  color: white;
  background-color: transparent;
  border: 2px solid rgb(255, 226, 59);
  transition: 0.4s;
}
.contact{
  width: 100%;
  height: 200px;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact p{
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}
.button-two{
  color: #191919;
  background-color: rgb(255, 226, 59);
  border: 2px solid transparent;
  border-radius: 35px;
  padding: 13px 30px;
  font-weight: bold;
  transition: 0.4s;
  box-shadow: 0px 0px 10px rgb(93, 93, 93);
}
.button-two:hover {
  color: white;
  background-color: transparent;
  border: 2px solid rgb(255, 226, 59);
  transition: 0.4s;
  transform: scale(1.1);
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('Monaco.woff') format('woff');
  }
  .coin{
    margin-right: -200px;
  }